.container {
  // justify-content: flex-end;

  align-self: center;

  ul {
    list-style-type: none;
    display: flex;
    margin-right: 5vw;

    li {
      margin-right: 50px;

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #fff;

        transition: color 0.35s;

        font-size: 0.65em;

        & > div {
          margin-top: 5px;
          height: 0.25em;
          width: 160%;
          border-radius: 30px;
          // transition: color 0.3s, background-color 0.1s;
        }

        .selected {
          background-color: #fff;
          box-shadow: 0px -1px 5px rgba(255, 255, 255, 0.8);
          animation-name: Selected;
          animation-duration: 1s;
        }

        .notSelected {
          background-color: rgba(255, 255, 255, 0);
          animation-name: NotSelected;
          animation-duration: 0.5s;
        }

        @keyframes NotSelected {
          from {
            background-color: rgba(255, 255, 255, 0.8);
            width: 160%;
            transform: translateY(0px);
          }
          to {
            background-color: rgba(255, 255, 255, 0);
            width: 25%;
            transform: translateY(10px);
          }
        }

        @keyframes Selected {
          from {
            background-color: rgba(255, 255, 255, 0.2);
            width: 25%;
            box-shadow: rgba(255, 255, 255, 0);
            transform: translateY(10px);
          }
          to {
            background-color: #fff;
            width: 160%;
            transform: translateY(0px);
          }
        }
      }

      a:hover {
        color: rgba(255, 255, 255, 0.4);
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .container {
    ul {
      margin: 0;
      li {
        margin: 25px;
      }
    }
  }
}