* {
  margin: 0;
  padding: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: white black;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid black;
}

html, body {
  height: 100%;
  width: 100%;
  
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
}

@media (max-width:1080px) {
  html{
      font-size: 93.75%; // 15px
  }
}

@media (max-width:720px) {
  html{
      font-size: 87.5%; // 14px
  }
}



main {
  display: flex;
}

body {
  position: absolute;
  background-attachment: fixed;
  background-image: radial-gradient(130.01% 300% at 100% -50%, #000000 35%, #434343 140%)
}