.container {
  display: flex;
  flex-direction: column;
  // position: ;
  // bottom: 0;

  // grid-template-rows: 50% 50%;
  height: 100%;
  // width: 100%;

  .home {
    // border: 1px solid red;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    // margin-left: 20px;

    // margin-top: 65px;
    // grid-row: 1;
    color: #fff;
    // align-items: center;
    // min-height: 100%;
    // border: 1px solid red;
    // justify-content: flex-end;

    .textMain {
      & > h3 {
        width: fit-content;
        align-self: flex-start;
        margin-left: 250px;
        // padding-right: 1200px;
        font-size: 2em;
        letter-spacing: 0.04em;
        margin-bottom: -0.85em;
        // transform: translateY(70%);
      }
      & > h2 {
        align-self: flex-start;
        width: fit-content;
        margin-left: 300px;
        // padding-right: 1000px;

        // margin-left: 150px;
        // line-height: 50px;
        font-size: 4em;
        font-weight: normal;
        font-family: "Saira Stencil One", sans-serif;
      }
      & > p {
        margin-left: 300px;

        align-self: flex-start;

        width: fit-content;

        // transform: translateY(70%);
        // padding-right: 700px;
        padding-top: 5px;
        // padding-left: 238px;
        // max-width: 20vw;
        max-width: 300px;
        text-align: justify;
        align-items: center;
        color: #989898;
      }
    }

    & > .subtext {
      // display: flex;

      h1 {
        color: #272727;
        // padding-top: 50px;
        font-size: 5rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        line-height: 80%;

        z-index: -1;
        // display: ;
        height: fit-content;

        // bottom: 0;

        // display: ;
        transform: translateY(50%);

        // justify-content: flex-end;
        // justify-items: flex-end;
        // justify-self: flex-end;
      }
    }
  }

  .skill {
    // padding-top: 100px;
    // min-height: 300px;
    justify-self: flex-end;
    // align-self: flex-end;
    // position: relative;
    bottom: 0;

    height: 100%;
    z-index: 1;
    // grid-row: 2;
    // min-height: 225px;
    // max-height: 100%;
    background: rgba(255, 255, 255, 0.2);
    // border: 1px solid blue;

    display: flex;
    justify-content: center;
    align-items: center;
    // grid-template-columns: 50% 50%;

    .cardConteiner {
      height: 100%;
      // grid-column: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;

      & > div {
        margin: 10px 0px;
        margin-right: 100px;
        width: 416px;
        height: 90px;
        border-radius: 17px;

        // margin-top: 15px;
        // border: 2px solid red;

        display: grid;
        grid-template-columns: 85% auto;
        grid-template-rows: 25% auto;

        & > h2 {
          grid-row: 1;
          grid-column: 1;

          padding-top: 7px;
          padding-left: 16px;
          text-transform: uppercase;
        }

        & > p {
          grid-row: 2;
          grid-column: 1 / span 2;

          padding: 15px 33px 10px 16px;
          height: auto;

          color: #989898;
          // word-break: break-all;
        }

        & > img {
          width: 25px;
          height: 25px;
          justify-self: flex-end;

          padding: 7px;
          right: 0;
          top: 0;
        }
      }

      .cardSelect {
        z-index: 2;
        background: #989898;
        box-shadow: 0px 12px 38px 18px rgba(0, 0, 0, 0.64);

        & > p {
          color: #333333;
        }
      }
      .card {
        background: #333333;
      }
      .card:hover {
        background: #fff;
        cursor: pointer;
        & > p {
          color: #333333;
        }
      }
      .cardSelect:hover {
        background: #fff;
        cursor: pointer;
      }
    }

    .introConteiner {
      width: 450px;
      // grid-column: 2;
      height: 100%;
      margin-left: 100px;

      display: flex;
      flex-direction: column;
      justify-content: center;

      // align-items: center;

      & > h1 {
        color: #161616;
        text-align: center;
        text-transform: uppercase;
        font-size: 48px;
        // padding-top: px;
      }

      & > h2 {
        color: #ededed;
        margin: 15px 0;
        font-size: 17px;
        line-height: 17px;
        text-align: justify;
        align-items: center;
        // word-break: break-all;
      }

      & > span {
        color: #989898;
        font-size: 14px;
        line-height: 16px;
        text-align: justify;
        align-items: center;
        // word-break: break-all;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .container {
    width: 100%;
    .home {
      // border: 1px solid red;

      // display: flex;
      // flex-direction: column;
      // margin-left: 20px;

      // margin-top: 65px;
      // grid-row: 1;
      // color: #fff;
      align-items: center;
      // min-height: 100%;
      // border: 1px solid red;

      margin: 50px 0 0 0;

      .subtext {
        margin: 70px 0 0 0;
        & > h1 {
          // margin-left: 0;
          // width: 100vw;

          // color: #272727;
          font-size: 3.5rem;
          // text-align: center;
          // text-transform: uppercase;
          // letter-spacing: 0.04em;
          // line-height: 80%;
          // z-index: -1;
          transform: translateY(0);
        }
      }

      & > .textMain {
        // align-self: center;
        display: flex;
        flex-direction: column;

        // justify-content: center;

        & > h3 {
          align-self: center;

          margin: 0;

          width: fit-content;
          padding: 0;
          font-size: 2em;
          letter-spacing: 0.04em;
          margin-bottom: -0.85em;
          // transform: translateY(70%);
        }
        & > h2 {
          align-self: center;

          margin: 0;

          width: fit-content;
          padding: 0;

          // margin-left: 150px;
          // line-height: 50px;
          font-size: 4em;
          font-weight: normal;
          font-family: "Saira Stencil One", sans-serif;
        }
        & > p {
          align-self: center;
          margin-left: 0;

          width: fit-content;

          margin-bottom: 30px;
          // transform: translateY(70%);
          padding: 0;
          // padding-top: 5px;
          // padding-left: 238px;
          // max-width: 20vw;
          max-width: 300px;
          text-align: justify;
          align-items: center;
          color: #989898;
        }
      }
    }

    .skill {
      // border: 1px solid red;
      background: rgba(255, 255, 255, 0.25);

      padding: 10px 0;

      height: 100%;
      width: auto;
      // z-index: 1;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // grid-template-columns: 50% 50%;

      .cardConteiner {
        width: auto;
        height: min-content;
        // grid-column: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        // align-items: center;

        & > div {
          margin: 10px 10px;
          // margin-right: 10px;
          width: 100%;
          height: auto;
          // border-radius: 17px;

          // margin-top: 15px;
          // border: 2px solid red;

          padding: 0;
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: min-content min-content auto;

          & > h2 {
            grid-row: 2;
            grid-column: 1;
            height: min-content;

            font {
              height: auto;
            }

            // display: flex;
            justify-self: center;
            margin: 5px 0 0 0;

            padding: 0;
            // padding-left: 16px;
            // text-transform: uppercase;
          }

          & > p {
            grid-row: 3;
            grid-column: 1;
            height: min-content;

            width: auto;

            margin: 15px 15px 20px 15px;
            // align-items: center;
            // text-align: justify;

            padding: 0;
            // height: auto;

            color: #989898;
            // word-break: break-all;
          }

          & > img {
            display: flex;

            align-self: center;
            justify-self: center;
            grid-column: 1;
            padding: 0;
            margin: 10px;
            // margin: 10px;

            grid-row: 1;
            width: 50px;
            height: 50px;
            // height: 25px;
            // justify-self: flex-end;

            // padding: 7px;
            // right: 0;
            // top: 0;
          }
        }

        .cardSelect {
          z-index: 2;
          background: #989898;
          box-shadow: 0px 12px 38px 18px rgba(0, 0, 0, 0.64);

          & > p {
            color: #333333;
          }
        }
        .card {
          background: #333333;
        }
        .card:hover {
          background: #fff;
          cursor: pointer;
          & > p {
            color: #333333;
          }
        }
        .cardSelect:hover {
          background: #fff;
          cursor: pointer;
        }
      }

      .introConteiner {
        width: 450px;
        // grid-column: 2;
        height: 100%;
        margin: 40px 0;

        display: flex;
        flex-direction: column;
        justify-content: center;

        // align-items: center;
      }
    }
  }
}
